<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.ppaszkiewicz.tools.demo">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="com.github.ppaszkiewicz.tools.demo.MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.github.ppaszkiewicz.tools.demo.coroutines.loaderDemo.LoaderActivity"/>
        <activity android:name="com.github.ppaszkiewicz.tools.demo.coroutines.taskServiceDemo.TaskServiceActivity"/>
        <activity android:name=".lingeringServiceDemo.LingeringServiceActivity"/>
        <activity android:name=".lingeringServiceDemo.LingeringServiceActivity2"/>
        <activity android:name=".views.SaveStateTestActivity" />
        <activity android:name=".delegates.DelegateDemoActivity" />

        <service android:name="com.github.ppaszkiewicz.tools.demo.coroutines.taskServiceDemo.DemoTaskService"/>
        <service android:name=".lingeringServiceDemo.DemoLingeringService"/>
    </application>

</manifest>